@import './../global/main';

.cta-section {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 30px;
  padding: 52px 0;
  text-align: center;

  @media(min-width: $tablet) {
      flex-direction: row;
  }

  button {
    background: none;
    background-color: $blue;
    border: 1px solid $white;
    color: $white;
    font-size: 17.5px;
    font-weight: $weight-bold;
    line-height: 1.486;
    margin: 20px 0 0;
    min-width: 222px;
    padding: 22px 36px;
    text-align: center;
    text-transform: uppercase;
    transition: all 400ms ease;

    @media(min-width: $tablet) {
      margin: 0 0 0 28px;
    }

    &:hover {
      background-color: $white;
      border-color: $blue;
      color: $blue;
      cursor: pointer;
      transition: all 400ms ease;
    }
  }
}