@import '../global/vars'; 

.header {
  align-items: center;
  display: flex;
  position: absolute;
  width: 100%;
}

.primary-header {
  background-color: $medium-gray;
  height: 70px;
  opacity: 0.9;

  .logo {
    height: 24px;
    margin-left: 30px;
    width: 52px;
  }

}

.navigation {
  display: flex;
  margin: 0 30px 0 auto;
  text-transform: uppercase;

  ul {
    list-style: none;
    li {
      display: inline;
      margin: 0 20px;
    }
  }

  a {
    color: $white;
    font-size: 13px;
  }

  button {
    background: none;
    border: none;

    span {
      color: $white;
      font-size: 13px;
      margin-right: 8px;
      text-transform: uppercase;
    }
  }
}

.secondary-header {
  background-color: $white;
  border-bottom: 1px solid $light-gray;
  height: 50px;
  opacity: 0.8;
  top: 70px;

  .section-header {
    margin-left: 30px;
  }

  a {
    color: $light-gray;
  }
}
