@import './../global/main';

.header {
  align-items: center;
  display: flex;
  position: absolute;
  width: 100%;
  z-index: 1;

  .navigation {
    display: flex;
    margin: 0 30px 0 auto;
    text-transform: uppercase;
  
    ul {
      li {
        display: inline;
        margin: 0 10px;
        position: relative;

        &:hover {
          a {
            color: $blue;
            transition: color 400ms ease;
          }
        }
  
        &.currentLink {
          &:before {
            background: $light-gray;
            bottom: 0;
            content: '';
            display: block;
            height: 3px;
            position: absolute;
            right: 0;
            width: 68px;
          }
          a {
            color: $gray;
            font-weight: $weight-bold;
          }
        }
      }
    }
  
    a {
      color: $white;
      font-size: 13px;
      font-weight: $weight-bold;
      line-height: 2.357;
    }
  
    button {
      background: none;
      border: none;
      margin: 0 0 0 10px;
      padding: 0;
    }
  }
}

.primary-header {
  background-color: $medium-gray;
  height: 70px;
  opacity: 0.9;

  .logo {
    height: 24px;
    margin-left: 30px;
    width: 52px;
  }

  .navigation {
    ul {
      align-items: center;
      display: flex;
    }
  
    button {
      margin: 0 0 2px 10px;

      &:hover {
        span {
          color: $blue;
          cursor: pointer;
          transition: color 400ms ease;
        }
      }
        
      span {
        color: $white;
        font-size: 13px;
        font-weight: $weight-bold;
        line-height: 2.357;
        margin: 0 8px 0 0;
        text-transform: uppercase;
      }
    }
  }
}

.secondary-header {
  background-color: $white;
  border-bottom: 1px solid $light-gray;
  height: 50px;
  opacity: 0.8;
  top: 70px;

  .section-header {
    font-weight: $weight-bold;
    line-height: 1.486;
    margin: 0 0 0 30px;
  }

  .navigation {
    ul {
      li {
        display: block;

        &:not(.currentLink) {
          display: none;
        }

        &.currentLink {
          margin-right: 20px;
          position: relative;
          &:after {
            content: '▼';
            display: inline;
            font-size: 10px;
            margin-left: 2px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
          }
        }

        @media(min-width: $tablet) {
          display: inline;

          &:not(.currentLink) {
            display: inline;
          }

          &.currentLink {
            margin-right: inherit;
            &:after {
              display: none;
            }
          }
        }
      }
    }
    a {
      color: $light-gray;
      font-size: 12px;
      font-weight: $weight-regular;
      line-height: 2.167;
    }
  }
}
