/* Colors */
$black: rgb(21, 21, 21);
$dark-gray : rgb(30, 30, 30);
$medium-gray: rgb(43, 43, 43);
$gray: rgb(66, 66, 66);
$light-gray: rgb(146, 146, 146);
$white: rgb(253, 253, 253);
$blue: rgb(0, 151, 217);

/* Fonts */
$georgia: Georgia, Times, Times New Roman;
$proxima-nova: proxima-nova, Arial;

/* Font Weight */
$weight-light: 300;
$weight-regular: 400;
$weight-semibold: 600;
$weight-bold: 700;


/* Breakpoints */
$narrow: 450px;
$tablet: 768px;
$wide: 1024px;
